
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p class="footer-text">Made with &heartsuit;</p>
    <p style="font-size:10px;">Inspired by @angela yu</p>
  </div>
</div>
</body>
</html>