<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input value="<%= article.title %>" name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="title" required>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea name="description" class="form-control" id="description" rows="3"><%= article.description %></textarea>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Content</label>
    <textarea  name="content" class="form-control" id="content" rows="3" required><%= aritcalContent %></textarea>
</div>
<a href="/" class="btn btn-secondary">Cancal</a>
<button type="submit" class="btn btn-success">Submit</button>