<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>DAILY Blogs</title>

</head>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">DAILY Blogs</p>
    </div>
  </div>
</nav>
<body>
<div class="main-cover-container">
  <div class="auth-block">
    <h1 class="Welcome-text">Think & Write</h1>
    <div class="auth-block-main">
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
  </div>
  <h1 class="Welcome-text">Write & Think</h1>
  <div>

  </div>
    </div>
  <div class="design-block"></div>
</div>

<div class="footer">
    <p class="footer-text">Made with &heartsuit;</p>
    <p style="font-size:10px;">Inspired by @angela yu</p>
</div>

</body>
</html>
