body{
    background-color: white;
    padding:0px;
    margin: 0px;
    background-color:whitesmoke;
}

.auth-form-main-block{
    width:40%;
    height:auto;
    padding:1.5rem;
    border:1px solid gray;
    box-shadow: 0px 0px 5px;
    margin: auto;
    border-radius:1rem;
    background-color: white;
}
.login-header{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px;
    margin:0px;
    margin-top:18vh;
    margin-bottom:2rem;
}
@media screen and (max-width: 900px) {
    .auth-form-main-block{
        width:90%;
        height:auto;
        padding:1.5rem;
        border:1px solid gray;
        box-shadow: 0px 0px 5px;
        margin: auto;
        border-radius:1rem;
        background-color: white;
    }
    .login-header{
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        padding: 0px;
        margin:0px;
        margin-top:15vh;
        margin-bottom:2rem;
    }
}
